{% extends "homepanel/base.html" %}

{% block content %}
    <section id="batches" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>{{ batch_details }}</h2>
                    <hr /><br />

                    <span class="bold">Termin: </span>
                    {{ batch_details.begin_date|date:"d.m.Y" }} - {{ batch_details.end_date|date:"d.m.Y" }}
                    <br />
                    <span class="bold">Placówka: </span>
                    {{ batch_details.institution }} - {{ batch_details.institution.city }}
                    <br />
                    <span class="bold">Rekolekcjoniści: </span>
                    {% if not batch_details.main_priest is None %}
                    {{ batch_details.main_priest }}
                    {% endif %}
                    {% if not batch_details.auxiliary_priest is None %}
                    , {{ batch_details.auxiliary_priest }}
                    {% endif %}
                    <br />
                    <span class="bold">Koordynatorzy: </span>
                    {% if not batch_details.main_coordinator is None %}
                    {{ batch_details.main_coordinator }}
                    {% endif %}
                    {% if not batch_details.auxiliary_coordinator is None %}
                    , {{ batch_details.auxiliary_coordinator }}
                    {% endif %}
                    <br />
                    <a class="medium-bold" href="{% url 'homepanel:participants_list' pk=batch_details.id %}">Podopieczni</a> |
                    <a class="medium-bold" href="{% url 'homepanel:volunteers_list' pk=batch_details.id %}">Wolontariusze</a>
                    <br />

                    <br />

                    <a href="{% url 'homepanel:batches' %}">
                        <button class="btn btn-default">Wróć</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}