{% extends "homepanel/base.html" %}
{% load mathfilters %}
{% load static %}

{% block content %}
    <section id="batch_volunteers" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Lista uczestników</h2>
                    <hr /><br />
                    <ul>
                        {% for obj in training_people_list %}
                            <li class="lead">
                                <span class="col-sm-12 col-xs-12 col-md-12 row">
                                    <span class="col-xs-6 col-sm-6 col-md-8 col-lg-9">
                                        <a class="medium-bold" href="{% url 'homepanel:person_details' training.id obj.person.id %}">
                                            {{ obj.person.surname }} {{ obj.person.first_name }}&nbsp;</a>
                                        - {{ obj.sign_date|date:"d.m.Y H:i" }}
                                        {% if obj.room is not None %}
                                           , pokój:{{ obj.room }}
                                        {% endif %}
                                        {% if obj.is_paid is True %}
                                            <span class="green medium-bold">(zapłacono)</span>
                                        {% else %}
                                            <span class="red medium-bold">(nie zapłacono)</span>
                                        {% endif %}
                                    </span>
                                    <span class="col-xs-6 col-sm-6 col-md-4 col-lg-3 float-right text-right">
                                         <a class="link-decoration-none" href="{% url 'homepanel:person_payment' training.id obj.id %}">
                                             <button class="btn btn-success btn-sm">Płatności</button>
                                         </a>
                                        {% if obj.retreat_or_music_training.end_date >= now %}
                                         <a onclick="return confirm('Czy na pewno chcesz wypisać tego uczestnika?')" class="link-decoration-none" href="{% url 'homepanel:retreat_person_delete' training.id obj.id %}">
                                             <button class="btn btn-danger btn-sm">Wypisz</button>
                                         </a>
                                        {% endif %}
                                     </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>

                    <br />
                    <a class="link-decoration-none" href="{% url 'homepanel:training_details' training.id %}">
                        <button class="btn btn-default">Wróć</button>
                    </a>

                    <br /><br />

                </div>
            </div>
        </div>
    </section>
{% endblock %}