{% extends "dj/base.html" %}

{% block content %}
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Koszty</h2>
                    <hr /><br />
                    <p class="lead">
                        Ile to kosztuje? Czy wolontariusze coś płacą? Jaki będzie koszt w tym roku?
                        <br /><br />
                        <span class="bold">PODOPIECZNI</span> płacą za turnus Drabiny Jakubowej w 2018 rokou w
                        Brańszczyku {{ price_b.price }} złotych, a w Kaliszu {{ price_k.price }} złotych. Potwierdzeniem zgłoszenia na turnus jest
                        wpłata 100,0 złotych zaliczki.
                        <br /><br />
                        <span class="bold">WOLONTARIUSZE</span> - nie płacą za pobyt, ani za wyżywienie. Również koszt
                        ubezpieczenia, czy szkoleń ponosi organizator.
                        <br /><br />
                        <span class="bold">NA CO IDĄ PIENIĄDZE?</span>
                        <br /><br />
                        Drabina Jakubowa sięga turnusów rekolekcyjnych w latach '60. Zawsze było to wydarzenie
                        natchnione. Organizatorzy zawsze starali się o zachowanie tego ducha, więc unikali tworzenia
                        z turnusów instytucji. Są one działalnością niedochodową, ale staramy się, żeby spontaniczność
                        zastępować dobrą organizacją przy minimalnym koszcie.
                        <br /><br />
                        Opłaty naszych podopiecznych muszą wystarczyć na opłacenie kosztów pobytu, wyżywienia i
                        ubezpieczenia samych podopiecznych. Wolontariusze nie ponoszą kosztów pobytu w ośrodku,
                        wykonują swoją pracę niedopłatnie. Stąd opłaty podopiecznych muszą wystarczyć na wszystko!
                        Wśród grona opiekunów koniecznie potrzebne jest minimum osób odpowiednio wykształconych, w tym
                        m.in. pielęgniarki. Staramy się wyposażyć każdy turnus odpowiednio, zapewnić środki do
                        utrzymania czystości, podstawowe materiały opatrunkowe, higieniczne. Organizujemy różnego
                        rodzaju atrakcje dla podopiecznych oraz wolontariuszy w formie podziękowania dla nich.
                        Każdy turnus powoduje też jakieś zniszczenia, uszkodzenia w domu, które należy regularnie
                        naprawiać. Dom potrzeba też odświeżać, remontować, a to też kosztuje.
                        <br /><br />
                        Nie jest łatwo tego wszystkiego dokonać z tak skromnym budżetem. Dlatego liczymy na Opatrzność
                        Bożą! Pomoc, jaką otrzymujemy przychodzi różnymi drogami - czasem są to ofiarodawcy, wpłaty na
                        tzw. 1%, wsparcie finansowe Zgromadzenia księży Orionistów i inne.
                        <br /><br />
                        <span class="bold">Stąd i nasz APEL</span> - może dzięki waszej pomocy kolejny rok turnusów
                        okaże się wspaniałym przeżyciem dla podopiecznych i dla wolontariuszy:
                        <br /><br />
                        <span class="bold">1% KRS 0000282796 z dopiskiem Brańszczyk</span>
                        <br /><br />
                        <span class="bold">Konto bankowe: 64 1600 1462 1842 6409 5000 0002 z dopiskiem Brańszczyk.</span>
                    </p>

                </div>
            </div>
        </div>
    </section>

{% endblock %}