<html>
<head>
    <style>
        .red {
            color: red;
        }
        .center {
            position: absolute;
            text-align: center;
        }
    </style>
</head>
<body>

<div>
<img src="cid:image1">
<div>
<h3>Zapisy na {{ batch }}</h3>

    Witaj {{ volunteer.first_name }} {{ volunteer.surname }}, <br /><br />
    Przyjęliśmy Twoje zgłoszenie na turnus. <br />
    Wkrótce koordynator skontaktuje się z Tobą w celu potwierdzenia uczestnictwa.<br /><br />

    {% if batch.main_coordinator %}
        Koordynator:<br />
        {{ batch.main_coordinator }}<br />
        tel. {{ batch.main_coordinator.volunteer.phone_number }}<br />
        {{ batch.main_coordinator.volunteer.email_address }}<br /><br />
    {% endif %}

    {% if batch.auxiliary_coordinator %}
        Koordynator pomocniczy:<br />
        {{ batch.auxiliary_coordinator }}<br />
        tel. {{ batch.auxiliary_coordinator.volunteer.phone_number }}<br />
        {{ batch.auxiliary_coordinator.volunteer.email_address }}<br /><br />
    {% endif %}

    Jeśli chcesz, możesz pomóc nam w poszukiwaniu wolontariuszy udostępniając w swoich mediach społecznościowych grafiki,
    które znajdują się w załączniku 🙂 <br />
    Mamy wielką nadzieję, że znajdzie się wystarczająca ilość wolontariuszy,
    aby wszyscy podopieczni mogli przyjechać na tegoroczne turnusy.
    <br /><br />
    W razie pytań prosimy pisać pod adres: kontakt@drabinajakubowa.pl <br /><br />
    Serdecznie pozdrawiamy!

    <br /><br /><br />

<div class="center">
    {{ home.address }}, {{ home.zip_code }} {{ home.city }}, {{ home.page_url }}; tel. {{ home.phone_number }}
</div>

    <br /><br /><br />

</div></div>

</body>
</html>
