<html>
<head>
    <style>
        .red {
            color: red;
        }
        .center {
            position: absolute;
            text-align: center;
        }
    </style>
</head>
<body>

<div>
<img src="cid:image1">
<div>
<h3>Zapisy na {{ batch }}</h3>

    Witaj {{ volunteer.first_name }} {{ volunteer.surname }}, <br /><br />
    Przyjęliśmy Twoje zgłoszenie na turnus. <br />
    Wkrótce koordynator skontaktuje się z Tobą w celu potwierdzenia uczestnictwa.<br /><br />
    Jeśli chcesz, możesz pomóc nam w poszukiwaniu wolontariuszy udostępniając w swoich mediach społecznościowych grafiki, 
    które znajdują się w załączniku 🙂 <br />
    Mamy wielką nadzieję, że znajdzie się wystarczająca ilość wolontariuszy,
    aby wszyscy podopieczni mogli przyjechać na tegoroczne turnusy.
    <br /><br />
    W razie pytań prosimy pisać pod adres: kontakt@drabinajakubowa.pl <br /><br />
    Serdecznie pozdrawiamy!

    <br /><br /><br />

<div class="center">
    ul. Jana Pawła II 1, 07-221 Brańszczyk, branszczyk.orione.pl | branszczyk@orione.pl; tel. 297423565
    <br />
    NIP: PL7621267298, Regon: 550462602
</div>

    <br /><br /><br />

</div></div>

</body>
</html>
