{% load staticfiles %}
{% block content %}
    <h2>Kim jesteśmy?</h2>
    <hr />
    <p class="lead">
        Drabina Jakubowa to duszpasterstwo osób niepełnosprawnych i wolontariuszy zajmujące się organizacją rekolekcji,
        opieki, rehabilitacji oraz pomocy charytatywnej osobom niepełnosprawnym.
        <br />
        Nazywamy to Drabiną Jakubową, bo nasi podopieczni są jak aniołowie z opowieści...
        <br />
        Może to sekret ich cierpienia pozwala im przekroczyć granicę między ziemią i niebem?
        <br /><br />
    </p>
    <h4>Nazwa</h4>
    <hr />
    <p class="lead">
        Nazwa "Drabina Jakubowa" pojawiła się dopiero w 2013 roku, z inspiracji ks. Marka Chrzanowskiego, orionisty.
        To on pierwszy uzasadnił teologicznie, czemu nazywamy niepełnosprawnych aniołami. Historia „turnusów” sięga
        jednak 1963 roku, gdy po raz pierwszy księża orioniści gościli w swoim domu rekolekcje wyjazdowe dla chorych
        i niepełnosprawnych wymyślone przez p. Teresę Strzembosz. Trwały wkład w rozwój wnieśli księża jezuici i
        prowadzona przez nich Wspólnota Życia Chrześcijańskiego, Misjonarze Świętego Wincentego a Paulo, Orioński
        Instytut Świecki i wielu, wielu innych.
        <br /><br />
        Na Drabinie Jakubowej mówimy o naszych podopiecznych – ludziach na wózku, upośledzonych umysłowo lub ciężko
        chorych, że są naszymi aniołami, bo ich cierpienie kryje w sobie sekret pozwalający przekroczyć granicę między
        ziemią i niebem.
        <br /><br />
        Sama nazwa pochodzi z Biblii. Patriarcha Jakub, banita, w czasie tułaczki zapada w sen i widzi drabinę
        sięgającą nieba. Po niej wchodzą i schodzą z nieba aniołowie. Słyszy wtedy obietnicę Boga, który chce go
        uratować i obdarzyć wielkimi darami. Budzi się przestraszony, ale zaznacza sobie to miejsce, gdzie można wejść
        do Domu Boga.
        <br /><br />
    </p>
    <img src="{% static 'images/DRZEWO.jpg' %}" class="img-fluid img-50per mx-auto d-block">
    <br /><br />
    <h4>Turnusy</h4>
    <hr />
    <p class="lead">
        Od tego się zaczęło, od krótkich, trzydniowych rekolekcji w 1963 roku. Powoli nasze dzieło rozwinęło
        się do pokaźnych rozmiarów przy okazji stając się inspiracją dla wielu innych "turnusów", rekolekcji, ośrodków
        rehabilitacyjnych... Większość czasu tzw. "turnusy" odbywały sie w Łaźniewie. W międzyczasie podjęte były próby
        prowadzenia podobnej działalności w Międzybrodziu Bialskim, Czułowie, Zielenicach, Rybnej. Obecnie siedzibą
        rekolekcji jest Brańszczyk. Co roku odbywa się tu 5 turnusów wakacyjnych (po dziesięć dni każdy) oraz
        pięciodniowy sylwester alternatywny (od 2014 roku). W 2016 roku Drabina Jakubowa po raz pierwszy podjęła się
        oraganizacji pielgrzymki zagranicznej dla osób niepełnosprawnych. W przyszłości chcemy, żeby więcej
        podopiecznych mogło skorzystać z tej propozycji. Chcemy, żeby więcej wolontariuszy przeżyło bogate
        doświadczenie pracy z podopiecznymi. Dlatego planujemy uruchamiać turnusy w nowych miejscach!
        <br /><br />
    </p>
    <br /><br />
    <h4>Wyprawy</h4>
    <hr />
    <p class="lead">
        Pierwsi podopieczni zaczęli wyjeżdżać pomiędzy turnusami jako towarzysze księży orionistów podczas
        głoszonych w różnych miejscach rekolekcji. Ważnym dla nas wydarzeniem jest udział w Spotkaniu Młodych na
        Lednicy. Ostatni czas pokazuje, że promocja wolontariatu, w której uczestniczą podopieczni, może być wspaniałą
        formą integracji! Zwykłe spotkanie na kawie w Złotych Tarasach, czy wyjście do Zoo dają nam wiele radości.
        <br /><br />
    </p>
    <br /><br />
    <h4>Promocja</h4>
    <hr />
    <p class="lead">
        Co roku prowadzimy liczne akcje promocji wolontariatu. Wolontariat dla jednych staje się sposobem
        na życie i to oni zwykle włączają się w promocję wolontariatu. Dla innych jest doświadczeniem ważnym i mocnym,
        które potrafi zmienić życie, ale jest tylko etapem. Choć Drabina Jakubowa co roku gromadzi ponad dwustu
        wolontariuszy, to wciąż trzeba szukać nowych!
        <br /><br />
        Promocja wolontariatu jest też świetną okazją do edukacji społeczeństwa nt osób niepełnosprawnych. Wiemy, że
        większość studentów, licealistów, uczestników grup i duszpasterstw w kościołach nie miało nigdy osobistego
        kontaktu z niepełnosprawnymi. Tylko dlatego nie wiedzą, jak ich traktować, ani jak im pomóc! Staramy się to
        zmieniać wprowadzając osoby niepełnosprawne do różnych środowisk, zaprzyjaźniając się i tłumacząc, że naprawdę
        wszyscy jesteśmy równi. Przy okazji uświadamiamy ludzi co do problemu barier architektonicznych i
        psychologicznych!
        <br /><br />
        Docieramy też do mediów - gościły nas w ostatnim czasie Radio Warszawa, Polskie Radio Program 2, Radio Nadzieja.
        Co roku odwiedza nas TVP1. Sporadycznie można o nas poczytać w prasie.
        <br /><br />
    </p>
    <br /><br />
    <h4>Przypnij skrzydła aniołowi</h4>
    <hr />
    <p class="lead">
        Przypnij skrzydła aniołowi – czyli nasz crowdfunding, który pozwala opłacić koszty pobytu wolontariusza, żeby
        nie musieli za to płacić podopieczni, którzy i tak potrzebują pomocy finansowej. Jeżeli oszacujemy koszt pobytu
        wolontariusza na dziesięciodniowym turnusie na około 500 złotych, a co roku mamy między 200, a 250
        wolontariuszy w Brańszczyku, to utrzymanie tego tłumu ludzi kosztuje tyle co remont 1/3 dachu Centrum Księdza
        Orione w Brańszczyku! Z dumą możemy powiedzieć, że Zgromadzenie Księży Orionistów od lat sponsoruje te koszty
        pobytu wolontariuszy, ale rozwój Drabiny Jakubowej zależy od powodzenia takich projektów.
        <br /><br />
    </p>
    <br /><br />
    <h4>Duszpasterstwo Drabiny Jakubowej</h4>
    <hr />
    <p class="lead">
        Duszpasterstwo Drabiny Jakubowej – to grupy spotykające się co tydzień na Mszy Świętej, modlitwie, rozmowie
        duchowej w dobrym towarzystwie... Grupy spotykają się w różnych miejscach - tam gdzie znajdą się przygotowani
        animatorzy, chętni wolontariusze i potrzebujący tego podopieczni.
        <br /><br />
    </p>
    <br /><br />
    <h4>Anielska domówka</h4>
    <hr />
    <p class="lead">
        Odwiedziny w domach podopiecznych, czyli Anielska Domówka – projekt ten, który dopiero zaczyna się rozkręcać
        daje ogromną pociechę odwiedzanym, a często samotnym podopiecznym i satysfakcję wolontariuszom.
        <br /><br />
    </p>
    <br /><br />
    <h4>Szkolenie wolontariuszy</h4>
    <hr />
    <p class="lead">
        Szkolenie stało się ważną częścią pracy Drabiny Jakubowej – bez tego ciężko dobrze i fachowo zadbać o
        podopiecznych. Obejmują materiał z: savoir-vivre z niepełnosprawnymi, zagadnienia medyczne niepełnosprawności,
        pierwszą pomoc, podstawy bhp w opiece nad chorymi, teorię i praktykę pielęgnacji niepełnosprawnych, technikę
        posługiwania się sprzętem pielęgnacyjnym.
        <br /><br />
    </p>
    <br /><br />
    <h4>Brama Nieba</h4>
    <hr />
    <p class="lead">
        To jednodniowe spotkanie wolontariuszy, podopiecznych i przyjaciół w duchu uwielbienia Boga i świętowania
        naszej przyjaźni.
        <br /><br />
    </p>
    <br /><br />
    <h4>Sztab</h4>
    <hr />
    <p class="lead">
        W pracę wolontaryjną angażują się tzw. sztaby obecne w Warszawie, Lublinie i Białymstoku. Są to grupy
        wolontariuszy, którzy współpracują z księżmi orionistami nad rozwojem Drabiny Jakubowej nie tylko przez
        krótki czas wakacji. To sztaby organizują akcje promocyjne, wyprawy z podopiecznymi, eventy jak Brama Nieba.
        Sztaby przygotowują szkolenia dla wolontariuszy uczestniczących w turnusach wakacyjnych. Dzięki sztabom możliwe
        jest wsparcie finansowe dla podopiecznych w postaci akcji Przypnij Skrzydła Aniołowi.
    </p>
    <br /><br />
{% endblock %}