{% block content %}
    <h2>Dobroczynność</h2>
    <hr />
    <p class="lead">
        U księdza Orione kolejny dom, kolejne dzieło powstawały mimo zupełnego braku pieniędzy. Tam, gdzie była
        potrzeba, tam ksiądz Orione miał odwagę przystąpić do działania, miał odwagę zaufać Opatrzności Bożej, która
        ostatecznie go nigdy nie zawiodła. Przy tym do darczyńców pisał często „wy jesteście moim bankiem”. Wiedział,
        że nie każdy może zostać zakonnikiem lub zakonnicą. Rozumiał też, że nie każdy może zostać wolontariuszem.
        Jest szczególna droga i duchowość człowieka, który wkłada we wspólne dzieło swój wysiłek, pot, poświęcony czas
        – nie osobiście, ale nie mniej prawdziwie. Tak rozumiał rolę darczyńców i dlatego zapraszał do pracy ramię w
        ramię!
        <br /><br />
        <i>Czyńcie dobro zawsze, czyńcie dobro wszystkim, zła nigdy i nikomu.</i>
        <br /><br />
        Jak wiele mądrości niosą te słowa wypowiedziane przez św. Alojzego Orione i jak trafnie oddają to, co dzieje się
        w Centrum Księdza Orione w Brańszczyku. Setki wolontariuszy przyjeżdża co roku na Drabinę Jakubową, by swój
        czas i zaangażowanie poświęcić drugiemu człowiekowi. Atmosfera która panuje w CKO przepełniona jest miłością
        i obecnością Boga. Projekty, które stworzyliśmy mają na celu uświetnić dzieło jakim jest Drabina Jakubowa.
        Chcemy, by podopieczni mieli bardziej komfortowe warunki, by wolontariusze dostali narzędzia, które ułatwią
        im pracę, by wszyscy byli bezpieczni.
    </p>
{% endblock %}