{% load static %}
{% block content %}
    <h2>Kontakt</h2>
    <hr />
    <p class="lead">
        <span class="fa fa-home"></span><span class="bold"> Centrum Księdza Orione w Brańszczyku</span>
        <br />
        <span class="fa fa-home"></span><span class="bold"> Drabina Jakubowa</span>
        <br />
        <span class="fa fa-envelope"></span> ul. Jana Pawła II 1, 07-221 Brańszczyk
        <br />
        <span class="fa fa-phone"></span><span class="bold"> tel. 297423565</span>
        <br />
        wewn. <span class="bold">106</span> <span class="fa fa-phone"></span> Dom Emeryta
        <br />
        <span class="bold">NIP:</span> PL7621267298
        <br />
        <span class="bold">Konto Bankowe Dobroczynność, Przypnij Skrzydła Aniołowi i Drabina Jakubowa:</span>
        <br />
        64 1600 1462 1842 6409 5000 0002
        <br />
        <span class="bold">KRS 0000282796</span> z dop. Drabina Jakubowa
    </p>
{% endblock %}