{% extends "dj/base.html" %}

{% block content %}

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
              {% include "dj/includes/about_us.html" %}
          </div>
        </div>
      </div>
    </section>

    <section id="participants">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
              {% include "dj/includes/participants.html" %}
          </div>
        </div>
      </div>
    </section>

    <section id="volunteers">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
              {% include "dj/includes/volunteers.html" %}
          </div>
        </div>
      </div>
    </section>

    <section id="charity">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
              {% include "dj/includes/charity.html" %}
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
              {% include "dj/includes/contact.html" %}
          </div>
        </div>
      </div>
    </section>

    <section id="rodo">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
              {% include "dj/includes/rodo.html" %}
          </div>
        </div>
      </div>
    </section>

{% endblock %}