{% load static %}
{% block content %}
    <h2>Polityka przetwarzania danych osobowych</h2>
    <hr />
    <br />
	<!--<iframe src="https://docs.google.com/document/d/1Jfx8qKaWyKqiL54yTFSZjo0u0uff10VQ-2sGEXAQjPE/edit?usp=sharing&usp=embed_googleplus" width="100%" height="1150px"></iframe>-->
	
	<iframe src="https://docs.google.com/document/d/1Jfx8qKaWyKqiL54yTFSZjo0u0uff10VQ-2sGEXAQjPE/preview?usp=embed_googleplus" width="100%" height="1150px"></iframe>
    <!-- only pdf <embed src="{% static "formularz_zgody_rodzicow.pdf" %}#toolbar=0&navpanes=0&scrollbar=0" width="100%" height="1150px">-->
{% endblock %}