{% extends "coordinatepanel/base.html" %}
{% load mathfilters %}

{% block content %}
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>{{ batch_participant.participant }} - {{ batch_participant.sign_date|date:"d.m.Y H:i" }}</h2>
                    <hr /><br />

                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        {% include 'coordinatepanel/includes/form_template.html' %}

                        <div class="form-group">
                            <div class="p-l-5 offset-lg-3 col-lg-9 offset-sm-5 col-sm-7">
                                <button type="submit" class="btn btn-primary">Zapisz</button>
                            </div>
                        </div>
                    </form>

                    <br /><br />

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_body_base %}
    <script type="text/javascript">
        $(function () {
            $('#id_batch_begin_date').datetimepicker({
                locale: 'pl',
                format: 'DD.MM.YYYY'
            });
            $('#id_batch_end_date').datetimepicker({
                locale: 'pl',
                format: 'DD.MM.YYYY'
            });
        });
    </script>
{% endblock %}