{% extends "coordinatepanel/base.html" %}
{% load mathfilters %}
{% load auth_extras %}
{% load static %}

{% block content %}
    <section id="batch_volunteers" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Lista wolontariuszy</h2>
                    <hr /><br />
                    <ul>
                        {% for obj in event_volunteers_list %}
                            <li class="lead">
                                <span class="col-sm-12 col-xs-12 col-md-12 row">
                                    <span class="col-xs-6 col-sm-5 col-md-4 col-lg-5">
                                        <a class="medium-bold" href="{% url 'coordinatepanel:event_volunteer_details' event_id obj.volunteer.id %}">
                                            {{ obj.volunteer.surname }} {{ obj.volunteer.first_name }}
                                        </a>
                                        {% if obj|has_birthday %}
                                             <i class="fa fa-birthday-cake blue"></i>
                                        {% endif %}
                                        {% if not obj.photographing_agreement %}
                                             <i class="fa fa-eye-slash blue" title="Brak zgody na fotografowanie"></i>
                                        {% endif %}
                                        {% if obj.is_paid is True %}
                                            <span class="green medium-bold">(zapłacono)</span>
                                        {% else %}
                                            <span class="red medium-bold">(nie zapłacono)</span>
                                        {% endif %}
                                        <span class="if_bd hidden">{{ obj.volunteer.pesel }}</span>
                                    </span>
                                    <span class="col-xs-6 col-sm-7 col-md-8 col-lg-7 float-right text-right">
                                        {% if obj.event.end_date >= now %}
                                        <a onclick="return confirm('Czy na pewno chcesz wypisać tego wolontariusza?')" class="link-decoration-none"
                                           href="{% url 'coordinatepanel:delete_event_volunteer' obj.event.id obj.id %}">
                                            <button class="btn btn-danger btn-sm">Usuń</button>
                                        </a>
                                        {% endif %}
                                        <a class="link-decoration-none"
                                           href="{% url 'coordinatepanel:event_volunteer_payment' obj.event.id obj.id %}">
                                            <button class="btn btn-success btn-sm">Płatności</button>
                                        </a>
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>

                    <br />
                    <a class="link-decoration-none" href="{% url 'coordinatepanel:event_details' event_id %}">
                        <button class="btn btn-default">Wróć</button>
                    </a>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
