{% extends "coordinatepanel/base.html" %}
{% load static %}

{% block content %}
    <section id="batch_participants" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <h2>Lista podopiecznych</h2>
                    <hr /><br />

                    <ul>
                        {% for obj in event_participants_list %}
                            <li class="lead">
                            <span class="col-sm-12 col-xs-12 col-md-12 row">
                                <span class="col-xs-6 col-sm-6 col-md-6 col-lg-7 parent">
                                    <a class="medium-bold" href="{% url 'coordinatepanel:event_participant_details' event_id obj.participant.id %}">
                                        {{ obj.participant.surname }} {{ obj.participant.first_name }}&nbsp;
                                    </a>
                                    <span class="bd_cake"></span>
                                    {% if obj.is_paid is True %}
                                        <span class="green medium-bold">(zapłacono)</span>
                                    {% else %}
                                        <span class="red medium-bold">(nie zapłacono)</span>
                                    {% endif %}
                                    <span class="if_bd hidden">{{ obj.participant.pesel }}</span>
                                </span>
                                <span class="col-xs-6 col-sm-6 col-md-6 col-lg-5 float-right text-right">
                                    {% if obj.event.end_date >= now %}
                                    <a class="link-decoration-none"
                                       href="{% url 'coordinatepanel:event_participant_edit' obj.event.id obj.id %}">
                                        <button class="btn btn-warning btn-sm">Zarządzanie</button>
                                    </a>
                                    <a onclick="return confirm('Czy na pewno chcesz wypisać tego podopiecznego?')" class="link-decoration-none"
                                       href="{% url 'coordinatepanel:delete_event_participant' obj.event.id obj.id %}">
                                        <button class="btn btn-danger btn-sm">Usuń</button>
                                    </a>
                                    {% endif %}
                                    <a class="link-decoration-none"
                                           href="{% url 'coordinatepanel:event_participant_payment' obj.event.id obj.id %}">
                                        <button class="btn btn-success btn-sm">Płatności</button>
                                    </a>
                                </span>
                            </span>
                            </li>
                        {% endfor %}
                    </ul>

                    <span id="begin_date" class="hidden">{{ event.event.begin_date|date:"Y.m.d" }}</span>
                    <span id="end_date" class="hidden">{{ event.event.end_date|date:"Y.m.d" }}</span>

                    <br />

                    <a  class="link-decoration-none" href="{% url 'coordinatepanel:event_details' event_id %}">
                        <button class="btn btn-default">Wróć</button>
                    </a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_body_base %}
    <script src="{% static 'js/count_birthday.js' %}"></script>
{% endblock %}