{% extends "coordinatepanel/base.html" %}
{% load static %}

{% block content %}
    <section id="batch_participants" class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <a class="float-right" href="{% url 'coordinatepanel:participants_report' batch_id %}">
                        <button class="btn btn-default">Raport</button>
                    </a>

                    <h2>Lista podopiecznych</h2>
                    <hr /><br />

                    <p class="lead">Kobiety</p>

                    <ul>
                        {% for obj in batch_participants_female %}
                            <li class="lead">
                            <span class="col-sm-12 col-xs-12 col-md-12 row">
                                <span class="col-xs-6 col-sm-6 col-md-8 col-lg-7 parent">
                                    <a class="medium-bold" href="{% url 'coordinatepanel:participant_details' batch_id obj.participant.id %}">
                                        {{ obj.participant.surname }} {{ obj.participant.first_name }}
                                    </a>
                                    <span class="bd_cake"></span>
                                    {% if obj.is_paid is True %}
                                        <span class="green medium-bold">(zapłacono)</span>
                                    {% elif obj.is_part_paid is True %}
                                        <span class="blue medium-bold">(zaliczka)</span>
                                    {% else %}
                                        <span class="red medium-bold">(nie zapłacono)</span>
                                    {% endif %}
                                    {% if obj.room is not None %} pokój: {{ obj.room }}{% endif %}
                                    {% if obj.volunteer is not None %}, wolontariusz: {{ obj.volunteer }}{% endif %}
                                    <span class="if_bd hidden">{{ obj.participant.pesel }}</span>
                                </span>
                                <span class="col-xs-6 col-sm-6 col-md-4 col-lg-5 float-right text-right">
                                    {% if obj.batch.end_date >= now %}
                                        <a class="link-decoration-none"
                                           href="{%  url 'coordinatepanel:batch_participant_edit' batch_id obj.participant.id %}">
                                            <button class="btn btn-warning btn-sm">Zarządzaj</button>
                                        </a>
                                        <a class="link-decoration-none" onclick="return confirm('Czy na pewno chcesz przenieść podopiecznego na listę rezerwową?')"
                                           href="{% url 'coordinatepanel:move_participant_to_reserve_list' obj.batch.id obj.participant.id %}">
                                            <button class="btn btn-info btn-sm">Rezerwa</button>
                                        </a>
                                        <a onclick="return confirm('Czy na pewno chcesz wypisać tego podopiecznego?')" class="link-decoration-none"
                                           href="{% url 'coordinatepanel:delete_participant' obj.batch.id obj.id %}">
                                            <button class="btn btn-danger btn-sm">Usuń</button>
                                        </a>
                                    {% endif %}
                                    <a class="link-decoration-none"
                                       href="{% url 'coordinatepanel:participant_payment' obj.batch.id obj.id %}">
                                        <button class="btn btn-success btn-sm">Płatności</button>
                                    </a>
                                </span>
                            </span>
                            </li>
                        {% endfor %}
                    </ul>

                    <p class="lead">Mężczyźni</p>

                    <ul>
                        {% for obj in batch_participants_male %}
                            <li class="lead">
                            <span class="col-sm-12 col-xs-12 col-md-12 row">
                                <span class="col-xs-6 col-sm-6 col-md-8 col-lg-7 parent">
                                    <a class="medium-bold" href="{% url 'coordinatepanel:participant_details' batch_id obj.participant.id %}">
                                        {{ obj.participant.surname }} {{ obj.participant.first_name }}
                                    </a>
                                    <span class="bd_cake"></span>
                                    {% if obj.is_paid is True %}
                                        <span class="green medium-bold">(zapłacono)</span>
                                    {% elif obj.is_part_paid is True %}
                                        <span class="blue medium-bold">(zaliczka)</span>
                                    {% else %}
                                        <span class="red medium-bold">(nie zapłacono)</span>
                                    {% endif %}
                                    {% if obj.room is not None %} pokój: {{ obj.room }}{% endif %}
                                    {% if obj.volunteer is not None %}, wolontariusz: {{ obj.volunteer }}{% endif %}
                                    <span class="if_bd hidden">{{ obj.participant.pesel }}</span>
                                </span>
                                <span class="col-xs-6 col-sm-6 col-md-4 col-lg-5 float-right text-right">
                                    {% if obj.batch.end_date >= now %}
                                        <a class="link-decoration-none"
                                           href="{%  url 'coordinatepanel:batch_participant_edit' batch_id obj.participant.id %}">
                                            <button class="btn btn-warning btn-sm">Zarządzaj</button>
                                        </a>
                                        <a class="link-decoration-none" onclick="return confirm('Czy na pewno chcesz przenieść podopiecznego na listę rezerwową?')"
                                           href="{% url 'coordinatepanel:move_participant_to_reserve_list' obj.batch.id obj.participant.id %}">
                                            <button class="btn btn-info btn-sm">Rezerwa</button>
                                        </a>
                                        <a onclick="return confirm('Czy na pewno chcesz wypisać tego podopiecznego?')" class="link-decoration-none"
                                           href="{% url 'coordinatepanel:delete_participant' obj.batch.id obj.id %}">
                                            <button class="btn btn-danger btn-sm">Usuń</button>
                                        </a>
                                    {% endif %}
                                    <a class="link-decoration-none"
                                       href="{% url 'coordinatepanel:participant_payment' obj.batch.id obj.id %}">
                                        <button class="btn btn-success btn-sm">Płatności</button>
                                    </a>
                                </span>
                            </span>
                            </li>
                        {% endfor %}
                    </ul>

                    <br />

                    <h2>Lista rezerwowa</h2>
                    <hr /><br />

                    <p class="lead">Kobiety</p>

                    <ul>
                        {% for obj in batch_participants_reserve_female %}
                            <li class="lead">
                            <span class="col-sm-12 col-xs-12 col-md-12 row">
                                <span class="col-xs-6 col-sm-6 col-md-8 col-lg-7 parent">
                                    <a class="medium-bold" href="{% url 'coordinatepanel:participant_details' batch_id obj.participant.id %}">
                                        {{ obj.participant.surname }} {{ obj.participant.first_name }}
                                    </a>
                                    <span class="bd_cake"></span>
                                    - {{ obj.sign_date|date:"d.m.Y H:i" }}
                                    {% if obj.room is not None %} pokój: {{ obj.room }}{% endif %}
                                    {% if obj.volunteer is not None %}, wolontariusz: {{ obj.volunteer }}{% endif %}
                                    <span class="if_bd hidden">{{ obj.participant.pesel }}</span>
                                </span>
                                <span class="col-xs-6 col-sm-6 col-md-4 col-lg-5 float-right text-right">
                                    {% if obj.batch.end_date >= now %}
                                        <a class="link-decoration-none"
                                           href="{%  url 'coordinatepanel:batch_participant_edit' batch_id obj.participant.id %}">
                                            <button class="btn btn-warning btn-sm">Zarządzaj</button>
                                        </a>
                                        <a class="link-decoration-none" onclick="return confirm('Czy na pewno chcesz przenieść podopiecznego na listę podstawową?')"
                                           href="{% url 'coordinatepanel:move_participant_to_base_list' obj.batch.id obj.participant.id %}">
                                            <button class="btn btn-info btn-sm">Lista</button>
                                        </a>
                                        <a onclick="return confirm('Czy na pewno chcesz wypisać tego podopiecznego?')" class="link-decoration-none"
                                           href="{% url 'coordinatepanel:delete_participant' obj.batch.id obj.id %}">
                                            <button class="btn btn-danger btn-sm">Usuń</button>
                                        </a>
                                    {% endif %}
                                    <a class="link-decoration-none"
                                       href="{% url 'coordinatepanel:participant_payment' obj.batch.id obj.id %}">
                                        <button class="btn btn-success btn-sm">Płatności</button>
                                    </a>
                                </span>
                            </span>
                            </li>
                        {% endfor %}
                    </ul>

                    <p class="lead">Mężczyźni</p>

                    <ul>
                        {% for obj in batch_participants_reserve_male %}
                            <li class="lead">
                            <span class="col-sm-12 col-xs-12 col-md-12 row">
                                <span class="col-xs-6 col-sm-6 col-md-8 col-lg-7 parent">
                                    <a class="medium-bold" href="{% url 'coordinatepanel:participant_details' batch_id obj.participant.id %}">
                                        {{ obj.participant.surname }} {{ obj.participant.first_name }}
                                    </a>
                                    <span class="bd_cake"></span>
                                    - {{ obj.sign_date|date:"d.m.Y H:i" }}
                                    {% if obj.room is not None %} pokój: {{ obj.room }}{% endif %}
                                    {% if obj.volunteer is not None %}, wolontariusz: {{ obj.volunteer }}{% endif %}
                                    <span class="if_bd hidden">{{ obj.participant.pesel }}</span>
                                </span>
                                <span class="col-xs-6 col-sm-6 col-md-4 col-lg-5 float-right text-right">
                                    {% if obj.batch.end_date >= now %}
                                        <a class="link-decoration-none"
                                           href="{%  url 'coordinatepanel:batch_participant_edit' batch_id obj.participant.id %}">
                                            <button class="btn btn-warning btn-sm">Zarządzaj</button>
                                        </a>
                                        <a class="link-decoration-none" onclick="return confirm('Czy na pewno chcesz przenieść podopiecznego na listę podstawową?')"
                                           href="{% url 'coordinatepanel:move_participant_to_base_list' obj.batch.id obj.participant.id %}">
                                            <button class="btn btn-info btn-sm">Lista</button>
                                        </a>
                                        <a onclick="return confirm('Czy na pewno chcesz wypisać tego podopiecznego?')" class="link-decoration-none"
                                           href="{% url 'coordinatepanel:delete_participant' obj.batch.id obj.id %}">
                                            <button class="btn btn-danger btn-sm">Usuń</button>
                                        </a>
                                    {% endif %}
                                    <a class="link-decoration-none"
                                       href="{% url 'coordinatepanel:participant_payment' obj.batch.id obj.id %}">
                                        <button class="btn btn-success btn-sm">Płatności</button>
                                    </a>
                                </span>
                            </span>
                            </li>
                        {% endfor %}
                    </ul>

                    <span id="begin_date" class="hidden">{{ batch.begin_date|date:"Y.m.d" }}</span>
                    <span id="end_date" class="hidden">{{ batch.end_date|date:"Y.m.d" }}</span>

                    <br />

                    <a  class="link-decoration-none" href="{% url 'coordinatepanel:batch_view' batch_id %}">
                        <button class="btn btn-default">Wróć</button>
                    </a>

                    <br /><br />
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_body_base %}
    <script src="{% static 'js/count_birthday.js' %}"></script>
{% endblock %}